* {
  box-sizing: border-box;
}

body {
  background-image: url(https://media.istockphoto.com/photos/purple-abstract-background-picture-id1021312994?k=20&m=1021312994&s=612x612&w=0&h=LNLK5Qnw_3umqwAm5JBvouugIxapTeC5vf-oAR6O_RY=);
  font-family: 'Comfortaa', cursive;
  height: 100vh;
}


.card {
  align-items: center;
  background-color: #F2F3F5;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
  
 
}


.card:hover {
  background-color: #05F2AF;
  
 
}




.nav-item {
  align-self: flex-end;
  color: #3d6ded;
}


.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

h1, h3 {
  font-family: 'Comfortaa', cursive;
}

.navbar {
  background-color: #EEEC00;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
 
}
.navbar a {
  float: left;
  color: #353D40;
  text-align: center;
  align-content: center;
  padding: 14px 16px;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
  
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.accounts {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
 
  
}

.accountlinks {

  padding: 1rem 0 3rem 0;
}



.wantto {

  width: 100%;
  text-align:center;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  
}

.accountsbackground {
  background-color: #EEEC00;
  border-radius: 50px;
  
} 

.margins {
  margin: 0 25%;
}


.logoalign {
  text-align: center;
}

.topborder {
  border-top: 2px solid black;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}


.margin-to-bar {

  padding-top: 50px;
}


.footerjs {
  color: whitesmoke;
  text-align: center;
  padding-bottom: 0.5rem;
}

.footerul {
  list-style-type: none;
  display: inline-block;
  color: whitesmoke;
  width: 100%;
  justify-content: space-between;  
  border: none;
}

.footer {
  background-color: #A3A1A8;
  font-size: 11px;
  margin-top: 6rem;
}

.footera {
  border: none;
  padding: 0 175px;
  text-align: center;
}